@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.section-1 {
  width: 100%;
  height: 100vh;
  background: url('assets/mohammad-rahmani-jTTDXiNveOs-unsplash.jpg') no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: -100;
  position: relative;
  transform: background blur(8px);
}

.banner {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  text-align: center;
}

.banner-heading {
  margin-bottom: 5rem;
  height: 20rem;
}

.banner-heading span {
  font-family: 'Oswald' sans-serif;
  font-size: 10rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.6);
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.banner-heading span.active {
  opacity: 1;
}

.banner-paragraph {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
  width: 65%;
  margin: 0 auto 4rem auto;
  padding: 1rem 0;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
}

.banner-btn {
  margin: auto;
  padding: 1.5rem;
  background-color: darkred;
  color: #fff;
  border-radius: 3rem;
  border: 0.1rem solid darkred;
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.4);
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  z-index: 1;
  cursor: pointer;
}

.banner-btn:active {
  transform: scale(0.98);
}
